{% extends "base.html" %}
{% block content %}
<div class="container">


    {% for author in authors %}
        <a href="{% url 'author' author.id %}">
            <figure class="col-md-2" style="display : inline-block; margin=10px">
                <img src="/media/{{author.image}}" class="img-responsive" alt="" height="250" width="200">
                <figcaption style="text-align: center">
                    <h5>{{author.name}}</h5>
                </figcaption>
            </figure>
        </a>
    {% endfor %}
</div>
    <br>
    <div class="pagination">
    <span class="step-links">
        {% if authors.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ authors.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ authors.number }} of {{ authors.paginator.num_pages }}.
        </span>

        {% if authors.has_next %}
            <a href="?page={{ authors.next_page_number }}">next</a>
            <a href="?page={{ authors.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
