<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    {% load static %}
    <style>
      .fontfamily{
      font-family: "Allerta Stencil", Sans-serif;
      }
      .jumbotron {
        background-color:rgba(255, 255, 255, 0.5) !important;
      }
      body , html{
        height: 100%;
        margin: 0;
        background-image: url("{% static 'read.png' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <b><h3 class="fontfamily">Register</h3></b>
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary col-md-offset-4" type="submit">Submit</button>
      </form>
    </div>



  </body>
</html>
